.container > .config-bar {
    background-color: white;
    justify-self: stretch;
    display: flex;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
}

.container > .config-bar > div > input {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    border: 0px;
    text-align: center;
    flex: 1;
}
.container > .config-bar > div {
    display: flex;
    flex: 1;
    border: 1px solid grey;
    box-sizing: border-box;
}
.container > .config-bar > div > div > p > input {
    flex: 1;
    box-sizing: border-box;
    border: 2px inset;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    max-width: calc(20px + (30 - 20) * (100vmin - 350px) / (800 - 350));
    text-align: center;
}

.container > .config-bar p {
    background-color: white;
    margin: 0;
    padding: 0 0.15rem;
}
