.container > .nav-bar {
    grid-area: nav-bar;
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid grey;
}

.container > .nav-bar > input {
    flex: 1 1 10%;
    background-color: transparent;
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    
}
.container > .nav-bar > input:not(:last-child) {
    border-right: 2px solid grey;
}
